body {
    font-family: Arial, Helvetica, sans-serif;
}

.recipe.links {
    text-decoration: none;
    color: blue;
}

#lasagna {
    color: red;
}

#oatmeal {
    color: red;
}

#sandwhich {
    color: red;
}

